body{

	background-image: url("../images/crystal.jpg");
	background-repeat: no-repeat;
	color: aquamarine ! important ;
	width: 100%
}

input{
	border: none;
	background: none;
	color: aquamarine ! important ;
}

.opa{
	opacity: .5;
}
