body{

	background-image: url("../images/crystal.jpg");
	color: aquamarine ! important ;
	
}

h1{
	font-family: 'Butcherman', cursive ! important;
	letter-spacing: 8px;
}

input{
	border: none;
	background: none;
	color: aquamarine ! important ;
}

.opa{
	opacity: .5;
}

hr{
	border: 1px aquamarine solid !important;
	width: 99%;
    margin-bottom: 31px;
    width: 50%;
}
